@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="range"] {
  accent-color: rgb(50,50,50);
  width: 100px;
  background-color: rgb(250,250,250);
}

input[type="checkbox"] {
  accent-color: rgb(50,50,50);
  background-color: rgb(250,250,250);
}

input[type="number"] {
  width: 100px;
  padding: 2px;
  text-align: center;
  background-color: rgb(250,250,250);
}